:root{
  --main-bg-color: #474B4F;
  --alt-bg-color: #222629;
  --main-btn-color: #86C232;
  --alt-btn-color: #61892F;
  --alt2-btn-color: #61892F;
  --txt-color: #FFF;
}

link{
	color: black !important;
}

.bg-light{
	background-color: var(--alt-bg-color) !important;
}
.bg-dark{
	background-color: var(--main-bg-color) !important;
}

.nav{
	border-bottom-color: var(--main-btn-color) !important;
}

.nav .nav-link{
	color: var(--txt-color);
	background-color: var(--main-bg-color) !important;
	border-bottom-color: var(--main-btn-color) !important;
}

.nav-tabs .nav-link.active{
	color: var(--main-btn-color) !important;
	background-color: var(--alt-bg-color) !important;
	border-color: var(--main-btn-color) !important;
	border-bottom-color: var(--alt-bg-color) !important;
}

.tab-pane{
	color:var(--txt-color) !important;
}

.tab-pane.active{
	background-color: var(--alt-bg-color) !important;
}


.btn-outline-primary{
	border-color: var(--main-btn-color);
	color: var(--main-btn-color);
}

.btn-outline-primary:hover{
	background-color: var(--alt-btn-color);
	border-color: var(--alt-btn-color);
	color: var(--txt-color);
}

.btn-outline-primary:not(:disabled):not(.disabled):focus{
	box-shadow: none !important;
	background-color: var(--main-btn-color) !important;
	color: var(--txt-color);
}

.btn-outline-primary:not(:disabled):not(.disabled):active{
	background-color: var(--alt-btn-color);
	border-color: var(--alt-btn-color);
	color: var(--txt-color);
}
